.page {
  @apply py-4;

  .cleatCartBtn {
    @apply mb-6 ml-auto mr-3 flex items-center justify-center rounded border border-textAccent bg-bgContainer px-2
    py-1 text-xl text-bgBody transition-all hover:bg-textAccent hover:text-textDark active:scale-90;
  }

  .items {
    @apply flex flex-col gap-3 px-3;
  }

  .wrapperTotalPrice,
  .wrapperTotalDiscountedPrice {
    @apply m-auto w-fit p-4 text-2xl;
  }

  .wrapperTotalDiscountedPrice {
    @apply relative;

    div:before {
      @apply absolute left-[-5%] top-[50%] h-[3px] w-[110%] bg-textPriceDiscount content-empty;
    }

    span {
      @apply text-textAccent;
    }
  }

  .hidden {
    display: none;
  }
}
