//input[type='text'],
//input[type='password'],
//input[type='date'] {
//  @apply w-80 rounded-lg p-2 text-xl;
//}
//
input[type='checkbox'],
input[type='radio'] {
  @apply h-4 w-4 hover:cursor-pointer;
}

input[type='submit'] {
  @apply w-28 rounded-lg bg-bgBody py-2 text-xl font-bold;

  &:hover {
    @apply cursor-pointer;
  }

  &:active {
    @apply text-textAccent shadow-button;
  }

  &:disabled {
    @apply bg-bgDisabled text-bgBackdrop hover:cursor-default;
  }
}

.label {
  @apply flex items-center justify-center gap-2 text-base text-bgBody;
}

.wrongEmailText,
.wrongPasswordText {
  @apply text-xs text-white before:content-['-\_'];
}

.hidden {
  display: none;
}

.valid {
  @apply border-green-700;
}

.invalid {
  @apply border-red-700;
}

.button {
  @apply mt-3 bg-bgHeader p-3 text-white;

  &:hover {
    @apply cursor-pointer opacity-75;
  }
}
