.toast {
  position: absolute;
  max-width: 350px;
  min-width: 250px;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 10px 20px 15px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.content {
  display: flex;
  align-items: center;
}

.point {
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-color: var(--blue);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.point.error {
  background-color: red;
}

.point.info {
  @apply bg-green-500;
}


.content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #2770ff;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text:first-letter {
  text-transform: uppercase;
}

.message .text.text1 {
  font-weight: bold;
  color: #333;
}

.message .text.text2 {
  margin-top: 10px;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.toast .info.progress:before {
  @apply bg-green-500;
}

.toast .error.progress:before {
  background-color: red;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

.closeBtn {
  background-color: initial;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;


  &:hover {
    color: #2770ff;
  }
}


@keyframes progress {
  100% {
    right: 100%;
  }
}


.toast.active ~ button {
  pointer-events: none;
}
