.toast {
  @apply absolute max-w-[350px] min-w-[250px] top-7
  right-8 rounded-xl bg-bgBody p-3 shadow-card overflow-hidden
  transform transition-all duration-500 translate-x-[calc(100%_+_40px)]
  ease-openToast;

  &.active {
    @apply translate-x-0;
  }
}

.content {
  @apply flex items-center;

  .message {
    @apply flex flex-col mx-4;

    .text {
      @apply text-[16px] text-textDark;

      &:first-letter {
        @apply uppercase;
      }
    }

    .text.text1 {
      @apply font-bold;
    }

    .text.text2 {
      @apply mt-3;
    }
  }
}

.point {
  @apply min-w-6 h-6 rounded-full flex items-center font-bold
  justify-center text-xl text-white;
}

.point.error {
  @apply bg-red-700;
}

.point.info {
  @apply bg-green-500;
}

.progress {
  @apply absolute bottom-0 left-0 h-1 w-full;

  &:before {
    @apply content-empty absolute bottom-0 right-0 w-full h-full;

    &.info {
      @apply bg-green-500;
    }


    &.error {
      @apply bg-red-700;
    }
  }

  &.active {
    &:before {
      @apply animate-progress;
    }
  }
}


.closeBtn {
  @apply absolute top-3 right-5 w-5 h-5 text-sm
  flex items-center justify-center text-bgBackdrop transition-all;

  &:hover {
    @apply text-textDark transition-all;
  }
}
