.profile {
  @apply border p-2;
}
.page {
  @apply flex flex-auto flex-col items-center justify-center py-14 pb-14 font-inter;

  .label {
    @apply mb-3 text-3xl font-bold text-textLight underline;
  }

  .link {
    @apply relative cursor-pointer text-textLight;

    &::after {
      @apply absolute -bottom-0.5 left-0 h-0.5 w-0 bg-bgBody duration-500 ease-in-out content-empty;
    }

    &:before {
      @apply w-full;
    }

    &:hover:after,
    &:focus:after {
      @apply w-full;
    }
  }
}
.addressBlock {
  @apply flex w-full flex-row flex-wrap justify-start gap-2 border-y-2 border-borderLight py-1;
}

.postalCodeBlock {
  @apply flex justify-between gap-2;
}

.header {
  @apply my-4 text-center text-lg;
}
