.card {
  @apply flex flex-col border border-bgHeader rounded p-3 hover:shadow-button cursor-pointer transition-all relative;

  .image {
    @apply w-auto h-[200px];
  }

  .pricesWrapper {
    @apply flex gap-3;
  }

  .name {
    @apply font-bold mt-4;
  }

  .price {
    @apply font-black text-lime-900 relative;
    &:first-child {
      @apply text-green-700;
    }
  }

  .priceDiscount:before {
    @apply content-empty absolute w-[120%] h-[2px] top-[10px] left-[-10%] rotate-[7deg] bg-red-400;
  }

  .description {
    @apply font-light text-sm text-textDark line-clamp-3;
  }

  .discount {
    @apply absolute top-1/3 left-1 text-red-400 font-bold -rotate-45 text-2xl;

    &.usd {
      @apply left-1/2;
    }
  }
}
