.inputItem {
  @apply font-inter mb-4 w-[400px];

  .wrapperInput {
    @apply relative rounded;
  }

  .input {
    @apply block w-full h-9 bg-transparent border border-solid
    border-bgHeader transition-all px-4 text-textLight
    focus:border-textAccent
    valid:outline-none focus:outline-none active:outline-none;
  }

  .label {
    @apply inline-block absolute cursor-text
    top-1/2 -translate-y-1/2 left-3 text-sm  bg-bgContainer px-3 text-textLight transition-all;
  }

  .label::first-letter {
    @apply uppercase;
  }

  .error {
    @apply text-red-300 text-xs list-disc pl-5;
  }

  .input:focus + .label,
  .input:valid + .label {
    @apply top-0 text-xs font-bold;
  }


  .input:focus + .label {
    @apply text-textAccent;
  }

  .input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #665F55 !important;
    -webkit-text-fill-color: #999 !important;
    color: #999 !important;
  }

  .input:-webkit-autofill + .label {
    @apply top-0 text-xs font-bold;
  }
}
