.sortBlock {
  @apply mx-4 mt-2 flex items-center justify-between rounded bg-bgContainer p-2 text-xl text-textLight;

  .buttons {
    @apply mr-2;

    button {
      @apply mr-2 rounded bg-bgBody px-2 py-1 text-textDark hover:underline tablet:mb-2;
    }
  }
}
