.products {
  @apply flex justify-between items-center flex-wrap gap-3;

  .cardContainer {
    @apply flex gap-3 flex-wrap;
  }
}

//TODO временно потом удалить
.button {
  @apply border-borderLight border rounded p-3 text-textLight;
}

.wrapperInput {
  @apply bg-bgContainer p-3;
}

